<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<!--<file value="C:\Inetpub\vhosts\gestionamitaller.com\webapi-qa.gestionamitaller.com\log\LogApiTaller.log" />-->
		<file value="C:\repo\rtres-net\AT\source\backend\logs\LogApiTravel.log" />
		<appendToFile value="true" />
		<rollingStyle value="size" />
		<maxSizeRollBackups value="10" />
		<maximumFileSize value="1MB" />
		<staticLogFileName value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>
	</appender>
	<root>
		<level value="DEBUG" />
		<appender-ref ref="RollingFile" />
		<appender-ref ref="ConsoleAppender" />
	</root>
</log4net>
